MVCEnvios/Connected Services/ServiceLogin/ServicioLogin2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
  <xs:complexType name="ArrayOfLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Login" nillable="true" type="tns:Login" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogin" nillable="true" type="tns:ArrayOfLogin" />
</xs:schema>