MVCEnvios/Connected Services/ServiceLogin/ServicioLogin1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioLogin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioLogin.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioLogin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioLogin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioLogin_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_AgregarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarLogin" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_AgregarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_ListarLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarLogins" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_ListarLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_EliminarLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLogins" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_EliminarLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_EditarLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarLogins" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_EditarLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_BuscarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarLogin" />
  </wsdl:message>
  <wsdl:message name="IServicioLogin_BuscarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioLogin">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLogin/Login" message="tns:IServicioLogin_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLogin/LoginResponse" message="tns:IServicioLogin_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLogin/AgregarLogin" message="tns:IServicioLogin_AgregarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLogin/AgregarLoginResponse" message="tns:IServicioLogin_AgregarLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarLogins">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLogin/ListarLogins" message="tns:IServicioLogin_ListarLogins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLogin/ListarLoginsResponse" message="tns:IServicioLogin_ListarLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarLogins">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLogin/EliminarLogins" message="tns:IServicioLogin_EliminarLogins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLogin/EliminarLoginsResponse" message="tns:IServicioLogin_EliminarLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarLogins">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLogin/EditarLogins" message="tns:IServicioLogin_EditarLogins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLogin/EditarLoginsResponse" message="tns:IServicioLogin_EditarLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLogin/BuscarLogin" message="tns:IServicioLogin_BuscarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLogin/BuscarLoginResponse" message="tns:IServicioLogin_BuscarLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioLogin" type="tns:IServicioLogin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServicioLogin/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarLogin">
      <soap:operation soapAction="http://tempuri.org/IServicioLogin/AgregarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLogins">
      <soap:operation soapAction="http://tempuri.org/IServicioLogin/ListarLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLogins">
      <soap:operation soapAction="http://tempuri.org/IServicioLogin/EliminarLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarLogins">
      <soap:operation soapAction="http://tempuri.org/IServicioLogin/EditarLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarLogin">
      <soap:operation soapAction="http://tempuri.org/IServicioLogin/BuscarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioLogin">
    <wsdl:port name="BasicHttpBinding_IServicioLogin" binding="tns:BasicHttpBinding_IServicioLogin">
      <soap:address location="http://serviciomvcenvios.azurewebsites.net/ServicioLogin.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>