MVCEnvios/Connected Services/ServiceSede/ServicioSede3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioSede.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" />
  <xs:element name="AgregarSede">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" minOccurs="0" name="sede" nillable="true" type="q1:Sede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSedeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSedes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSedesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" minOccurs="0" name="ListarSedesResult" nillable="true" type="q2:ArrayOfSede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSedes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSedesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarSedes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" minOccurs="0" name="sede" nillable="true" type="q3:Sede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarSedesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSedeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" minOccurs="0" name="BuscarSedeResult" nillable="true" type="q4:Sede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>