MVCEnvios/Connected Services/ServiceSede/ServicioSede1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioSede" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioSede.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioSede.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioSede.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioSede_AgregarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSede" />
  </wsdl:message>
  <wsdl:message name="IServicioSede_AgregarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSedeResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSede_ListarSedes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSedes" />
  </wsdl:message>
  <wsdl:message name="IServicioSede_ListarSedes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSedesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSede_EliminarSedes_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSedes" />
  </wsdl:message>
  <wsdl:message name="IServicioSede_EliminarSedes_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSedesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSede_EditarSedes_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarSedes" />
  </wsdl:message>
  <wsdl:message name="IServicioSede_EditarSedes_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarSedesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSede_BuscarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSede" />
  </wsdl:message>
  <wsdl:message name="IServicioSede_BuscarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSedeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioSede">
    <wsdl:operation name="AgregarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSede/AgregarSede" message="tns:IServicioSede_AgregarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSede/AgregarSedeResponse" message="tns:IServicioSede_AgregarSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSedes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSede/ListarSedes" message="tns:IServicioSede_ListarSedes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSede/ListarSedesResponse" message="tns:IServicioSede_ListarSedes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSedes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSede/EliminarSedes" message="tns:IServicioSede_EliminarSedes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSede/EliminarSedesResponse" message="tns:IServicioSede_EliminarSedes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarSedes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSede/EditarSedes" message="tns:IServicioSede_EditarSedes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSede/EditarSedesResponse" message="tns:IServicioSede_EditarSedes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSede/BuscarSede" message="tns:IServicioSede_BuscarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSede/BuscarSedeResponse" message="tns:IServicioSede_BuscarSede_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioSede" type="tns:IServicioSede">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarSede">
      <soap:operation soapAction="http://tempuri.org/IServicioSede/AgregarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSedes">
      <soap:operation soapAction="http://tempuri.org/IServicioSede/ListarSedes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSedes">
      <soap:operation soapAction="http://tempuri.org/IServicioSede/EliminarSedes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarSedes">
      <soap:operation soapAction="http://tempuri.org/IServicioSede/EditarSedes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSede">
      <soap:operation soapAction="http://tempuri.org/IServicioSede/BuscarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioSede">
    <wsdl:port name="BasicHttpBinding_IServicioSede" binding="tns:BasicHttpBinding_IServicioSede">
      <soap:address location="http://serviciomvcenvios.azurewebsites.net/ServicioSede.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>