MVCEnvios/Connected Services/ServiceTrazabilidad/ServicioTrazabilidad3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioTrazabilidad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" />
  <xs:element name="AgregarTrazabilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" minOccurs="0" name="trazabilidad" nillable="true" type="q1:Trazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTrazabilidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrazabilidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrazabilidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" minOccurs="0" name="ListarTrazabilidadesResult" nillable="true" type="q2:ArrayOfTrazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTrazabilidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTrazabilidadesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTrazabilidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" minOccurs="0" name="trazabilidad" nillable="true" type="q3:Trazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTrazabilidadesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTrazabilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTrazabilidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" minOccurs="0" name="BuscarTrazabilidadResult" nillable="true" type="q4:Trazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>