MVCEnvios/Connected Services/ServiceTrazabilidad/ServicioTrazabilidad1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioTrazabilidad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioTrazabilidad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioTrazabilidad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://serviciomvcenvios.azurewebsites.net/ServicioTrazabilidad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioMVCEnvios.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioTrazabilidad_AgregarTrazabilidad_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTrazabilidad" />
  </wsdl:message>
  <wsdl:message name="IServicioTrazabilidad_AgregarTrazabilidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTrazabilidadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTrazabilidad_ListarTrazabilidades_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrazabilidades" />
  </wsdl:message>
  <wsdl:message name="IServicioTrazabilidad_ListarTrazabilidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrazabilidadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTrazabilidad_EliminarTrazabilidades_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTrazabilidades" />
  </wsdl:message>
  <wsdl:message name="IServicioTrazabilidad_EliminarTrazabilidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTrazabilidadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTrazabilidad_EditarTrazabilidades_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarTrazabilidades" />
  </wsdl:message>
  <wsdl:message name="IServicioTrazabilidad_EditarTrazabilidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarTrazabilidadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTrazabilidad_BuscarTrazabilidad_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTrazabilidad" />
  </wsdl:message>
  <wsdl:message name="IServicioTrazabilidad_BuscarTrazabilidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTrazabilidadResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioTrazabilidad">
    <wsdl:operation name="AgregarTrazabilidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTrazabilidad/AgregarTrazabilidad" message="tns:IServicioTrazabilidad_AgregarTrazabilidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTrazabilidad/AgregarTrazabilidadResponse" message="tns:IServicioTrazabilidad_AgregarTrazabilidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTrazabilidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTrazabilidad/ListarTrazabilidades" message="tns:IServicioTrazabilidad_ListarTrazabilidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTrazabilidad/ListarTrazabilidadesResponse" message="tns:IServicioTrazabilidad_ListarTrazabilidades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTrazabilidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTrazabilidad/EliminarTrazabilidades" message="tns:IServicioTrazabilidad_EliminarTrazabilidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTrazabilidad/EliminarTrazabilidadesResponse" message="tns:IServicioTrazabilidad_EliminarTrazabilidades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarTrazabilidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTrazabilidad/EditarTrazabilidades" message="tns:IServicioTrazabilidad_EditarTrazabilidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTrazabilidad/EditarTrazabilidadesResponse" message="tns:IServicioTrazabilidad_EditarTrazabilidades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTrazabilidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTrazabilidad/BuscarTrazabilidad" message="tns:IServicioTrazabilidad_BuscarTrazabilidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTrazabilidad/BuscarTrazabilidadResponse" message="tns:IServicioTrazabilidad_BuscarTrazabilidad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioTrazabilidad" type="tns:IServicioTrazabilidad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarTrazabilidad">
      <soap:operation soapAction="http://tempuri.org/IServicioTrazabilidad/AgregarTrazabilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTrazabilidades">
      <soap:operation soapAction="http://tempuri.org/IServicioTrazabilidad/ListarTrazabilidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTrazabilidades">
      <soap:operation soapAction="http://tempuri.org/IServicioTrazabilidad/EliminarTrazabilidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarTrazabilidades">
      <soap:operation soapAction="http://tempuri.org/IServicioTrazabilidad/EditarTrazabilidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTrazabilidad">
      <soap:operation soapAction="http://tempuri.org/IServicioTrazabilidad/BuscarTrazabilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioTrazabilidad">
    <wsdl:port name="BasicHttpBinding_IServicioTrazabilidad" binding="tns:BasicHttpBinding_IServicioTrazabilidad">
      <soap:address location="http://serviciomvcenvios.azurewebsites.net/ServicioTrazabilidad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>